
.t-center{
    text-align: center;
}
.m-auto{
    margin: auto;
}
.d-flex{
    display: flex;
}
.align-c{
    align-items: center;
}
.img-1{
    width: 200px;
    margin-left: 40%;
}
.fz{
    font-size: 40px;
}
.color-1{
    background-color: cyan;
    width: 1000px;
    height: 1px;
}
.color{
    background-color: yellow;
}
header{
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
}
.b{
    margin-left: 30px;
    height: 30px;
}
body{
    margin-left: 0;
}
.m-t{
    margin-top: 50px;
}
.m-p{
    background-color: whitesmoke;
    width: 1000px;
}
.se{
    display: flex;
    justify-content: space-evenly;
}
.co{
    background-color: palevioletred;
    width: 225px;
    z-index: 3;
}
.p{
    padding: 5px;
}
.p-1{
    padding: 2px;
}