.h-1{
    background-color: lightskyblue;
    width: 100%;
    position: absolute;
    top: 0;
}
.t-center{
    text-align: center;
}
.b-1{
    border: 1px solid #000;
}
.wh{
    width: 60%;
    height: 500px;
}
.m-auto{
    margin: auto;
}
.d-flex{
    display: flex;
}
.align-c{
    align-items: center;
}
.color{
    background-color: rgb(226, 226, 47);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: scroll;
}
.img-1{
    width: 200px;
    margin-left: 40%;
}
.l-h{
    line-height: 200px;
}